DATABASE_URL="mysql://root:password@localhost:3306/pms"

AUTH_SECRET="your_nextauth_secret_key_at_least_32_characters_long"
UPLOAD_DIRECTORY="./public/uploads/products"

WC_STORE_URL="https://lk-tronics.com"
WC_CONSUMER_KEY="ck_your_consumer_key"
WC_CONSUMER_SECRET="cs_your_consumer_secret"
